.input {
  display: flex;
  align-items: center;
}

.text {
  min-height: 30px;
  /* max-width: 150px; */
  padding: 0 1rem;
  font-size: 15px;
  border: 1px solid #a2d2ff;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.text:focus, .text:focus-visible {
    border-color: #cdb4db;
    outline: none;
  }

.submit {
  min-height: 30px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #a2d2ff;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit:hover{
    background-color: #cdb4db;
}
